.container {
  z-index: 1030;
  height: 56px;
  margin-bottom: 8px;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0 4px 8px 0 #D2D6DF;
}

.brandLabel {
  margin-left: 16px;
}


.rightActionItemContainer {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.hamburgerMenu {
  display: flex;
  flex-direction: column;
}

.hamburgerMenu .iconBar {
  margin: 1px 0px 2px 0px;
  background-color: black;
  border-radius: 1px;
  width: 18px;
  height: 3px;
}

/* Rectangle: */
