

.footer {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  align-items: center;
  margin: 16px 0px 0px 0px;
}



.checkinButton {
  background: #50E3C2;
  box-shadow: 0 2px 2px 0 #C3C6CF;
  border-radius: 2px;
  border-color: transparent;
  height: 48px;
  width: 114px;
  margin: 8px;
}

.checkinButton > span {
  margin: 12px 8px 12px 8px;
  font-family: Roboto-Medium;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
}
