.container {
  display: inline-flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0 8px 8px 0 rgba(210,214,223,0.70);
  margin: 8px 16px 8px 0px;
}

.iconImg {
  width: 160px;
  height: 80px;
}

.infoContainer {
  display: inline-flex;
  flex-direction: column;
  margin: 4px;
}



.formName {
  font-family: Roboto-Bold;
  font-size: 12px;
  font-weight: 300;
}

.completedTime {
  font-family: Roboto-Medium;
  font-size: 12px;
  color: #9B9EA7;
  letter-spacing: 0;
  margin: 2px 0px 2px 0px;
}
