.container {
  background: #FFFFFF;
  box-shadow: 0 8px 8px 0 rgba(210,214,223,0.70);
  margin: 8px 16px 8px 16px;
}

.header {
  font-family: Roboto-Medium;
  font-size: 12px;
  color: #9B9EA7;
  letter-spacing: 0;
  padding: 16px 8px 0px 8px;
}


